<div class="container">
  <div class="row">
    <div class="col-sm">
      <table>
          <tr><th>First name</th> <th>Last name</th> <th>Username</th> <th>Email</th> <th>Category</th></tr>
          <tr *ngFor="let temp_user of users">
            <td>{{temp_user.firstName}}</td> <td>{{temp_user.lastName}}</td> <td>{{temp_user.username}}</td> <td>{{temp_user.email}}</td> <td *ngIf="!isAdmin(temp_user)">{{temp_user.category.name}}</td>
            <td *ngIf="isAdmin(temp_user)">admin permissions</td>
            <!--<button (click)="download($event, book.id, book.title)" *ngIf="isAllowed(book)">Download</button>
            <button (click)="edit(book)" *ngIf="isAdmin()">Edit</button>-->
          </tr>
        </table>
    </div>
  </div>
</div>