<div class="container-fluid">
        <div class="row">
                <div class="col-6 pt-3">
                        <h4>My tasks:</h4>
                        <div class="list-group border rounded w-100 mt-1" style="max-height: 320px; overflow-y:  scroll;">
                                <div class="list-group-item" style="display: block">
                                    <p class="font-italic" *ngIf="type=='editor'">Creating magazine &nbsp; editor  &nbsp;  Create magazine  &nbsp;  <button class="btn btn-link" (click)="magForm()">Start</button> </p>
                                    <div class="row" *ngFor="let task of tasks">
                                        <div class="col-9 pt-2">
                                            <p class="font-italic">{{task.title}}  &nbsp;  {{task.assignee}}  &nbsp;   {{task.name}}  &nbsp;  <button class="btn btn-link" (click)="complete(task)">Start</button> </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                <div>
                        <a href="http://localhost:4200" style="position:absolute; right:15px; top:20px"><button class="btn btn-secondary" (click)="logoutFunc()"> Log out </button></a>    
                </div>
        </div>
</div>