<div class="midDiv">
  <h3>Unesite urednike naucnih oblasti i recenzente za casopis</h3>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLex="25%">
  </div>
  <div fxLex="50%">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
      <div *ngFor="let field of formFields" >
        <label for={{field.id}}>{{field.label}}</label>

        <select name="{{field.id}}"  multiple ngModel *ngIf="field.type.name=='enum' && field.id=='recenzentiL'">
          <option *ngFor="let category of reviewers" value={{category.id}}>
            {{category.ime}}  {{category.prezime}}
          </option>
        </select>
        <select name="{{field.id}}"  multiple ngModel *ngIf="field.type.name=='enum' && field.id=='uredniciL'">
          <option *ngFor="let cat of editors" value={{cat.id}}>
            {{cat.ime}} {{cat.prezime}}
          </option>
        </select>
      </div>
      <input type="submit">
    </form>
  </div>
  <div fxLex="25%">
  </div>
</div>
