<div>

  <h3>Potvrdite da zelite da nastavite na proces obrade teksta: </h3>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

    <div *ngFor="let field of formFields" >
      <label for={{field.id}}>{{field.label}}</label>

      <input type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'" >
      <input type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
      <input type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
      <select name="field.id" *ngIf="field.type.name=='enum'">
        <option *ngFor="let val of enumValues" value={{val}}>
          {{field.type.values[val]}}
        </option>
      </select>
    </div>

    <div>
      <input type="submit">
    </div>
  </form>


</div>
