<div class="row">
    <div class="col-sm">
        <ul class="nav nav-tabs">
            <li class="nav-item" class="active">
              <a class="nav-link" [routerLink]="['/repository/overview']">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/repository/add']" *ngIf="isAdmin()">Add new book</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/repository/search']">Search</a>
            </li>
            
          </ul>

        <router-outlet></router-outlet>
    </div>
</div>